*.gitignore

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.md
*.tex
*.dvi
*.xdv
*.synctex

## Final documents:
*.docx
*.html
*.pdf

# directories (generic)
*_cache/
*_files/

# directories (specific)
Output/
Data/
SourceData/
DataCEBD/

# R specific
*.Rhistory
*.RData
*.DS_Store
*.Rproj


# Specific documents


.Rproj.user
